---
import { MainContainer, HeadingSection, ServiceCard } from "@components";
import { SERVICES } from "@data/services";
---

<MainContainer
  id="servicios-inicio"
  bgColor="bg-primary-600"
  ariaLabelledby="servicios-titulo"
>
  <HeadingSection
    tagline="Nuestros Servicios"
    title="Soluciones Digitales que Transforman Negocios"
    description="Ofrecemos un ecosistema completo de desarrollo tecnológico: desde la consultoría inicial hasta el soporte post-lanzamiento."
    id="servicios-titulo"
    titleColor="text-neutral-100"
    descColor="text-neutral-300"
  />

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      SERVICES.map((service) => (
        <ServiceCard
          title={service.title}
          description={service.tagline}
          icon={service.icon}
          href={service.href}
        />
      ))
    }
  </div>
</MainContainer>
